i {
  font-size: 2em;
}

.meal-title-partial {
  text-align: center;
  padding: 1em;
}

ul {
  margin: 3em 0;
}

.link-to-page {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .meal-title-partial,
  .view-more {
    font-size: 0.7em;
  }
}
