.reservation-form-phone {
  width: 50px;
}

.meal-reservation {
  margin-left: 2em;
}

.reservation-info {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.book-now-button {
  background-color: rgb(89, 144, 89);
  padding: 1em;
  margin-top: 1em;
  outline: none;
  border: none;
  cursor: pointer;
}

.label-form {
  margin-bottom: 0.3em;
}

@media screen and (max-width: 768px) {
  .meal-reservation-header {
    padding-top: 2em;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }

  .book-now-button {
    margin-bottom: 2em;
    background: rgba(29, 138, 27, 0.412);
    color: black;
  }

  .meal-reservation {
    margin: 0;
    background-color: whitesmoke;
  }

  .reservation-info {
    width: 70%;
    margin: 1em auto;
  }

  .book-now-button-wrapper {
    text-align: center;
  }
}
