.sortby-container {
  display: flex;
  justify-content: flex-end;
  margin: 3em;
}

.sortby-wrapper {
  margin-right: 1em;
}

.sortby-placeholder {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .fa-sort-amount-up,
  .fa-sort-amount-down {
    font-size: 1em;
  }

  .sortby-container {
    margin: 1.5em 1em;
  }
}
